<!DOCTYPE html>
<html lang='en' dir='ltr'>
    <head>
        <meta charset="utf-8">
        <title>About Flask</title>
    </head>
    <body>
        {% extends 'home.html' %}
        {% block content %}

        <h1 class="logo">About My Page</h1>
        <p class="para"> This page is one of my multitude attempts at creating websites and web applications.<br>
        Applications that use the Flask framework include Pinterest, <br>
        LinkedIn, and the community web page for Flask itself. <br>
        I am also using a library named textblob and while I <br>
        have created a few websites before this, this is the first <br>
        time I am using the Flask framework.
        </p>
        {% endblock %}
    </body>
</html>